.dashboard{
    display: flex;
    margin: 1rem;
    flex-grow: 1;
    overflow:scroll;
    gap:1rem;
    padding-bottom: 1rem;
    max-height: calc(100vh - 80px);
}

.books-table {
    order: 1;
    flex-grow: 1;
    /* margin-top: 2rem; */
    overflow: auto;
    padding-bottom: 1rem;

    /* border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.48);
    padding: 1rem; */
}

table.dataTable thead .sorting:after {
    display: none !important;
    content: "" !important;
}

.filter{
    order: 2;
    width: 300px;
    margin-top: 2.5rem;
}

#employee_data{
    overflow: auto;
}

select.input-sm{
    line-height: 0;
}

.admin-library-table{
    max-width: 700px;
    box-sizing: border-box;
}

@media screen and (max-width:900px) {
    .filter{
        order: 1;
        width: 100%;
        margin: 1rem 0;    ;
    }

    .books-table{
        order: 2;
        height: calc(100vh - 400px);
    }

    .dashboard{
        display: block;
    }
}


*:focus {
    box-shadow: none !important;
  }
  
  *[data-focus] {
    box-shadow: none !important;
  }



  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}