*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  max-height: 100vh;
  overflow: hidden;
}

:root {
  --maroon: #3e727c;
}

html {
  font-family: 'Inter', sans-serif;
}

/* FONT STYLE || SIZE AND FONT WEIGHT */
.fs-64 {
  font-size: 64px;
}

.fs-37 {
  font-size: 37px;
}

.fs-24 {
  font-size: 24px;
}

.bold {
  font-weight: 700;
}

.fc-white {
  color: white;
}

/* BOOTSTRAP REMOVE OUTLINE */
form .form-control:focus {
  border-color: gray;
  box-shadow: 0 0 gray;
}

.bg-maroon {
  background-color: var(--maroon);
}

/* BUTTONS */
.large-btn {
  padding: 0.9rem 1.2rem;
  width: 251px;
  border-radius: 4px;
}

.navtoggler-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content-wrapper{
  min-height: calc( 100vh - 80px);
}


/* SCROLL BARS */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ccb8b8 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    max-height: 9px;
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ccb8b8;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  .modal-backdrop{
    z-index: 1;
  }